@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron alert-info border-info text-center mt-5">
    <h1 class="display-4">Welcome to Eateroo</h1>
    A demo web application using Microsoft stack (Asp.NET Core 2.2 MVC, Razor Pages, Entity Framework, MS SQL Server).
</div>
